body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------header section----------------------------*/

.header{
    height: 90vh;
    width: 100%;
    background-image: url(/Image/bg.jpg);
    background-size: cover;
    background-position: center;
}
.header-container{
    display: flex;
    position: static;
    justify-content: space-between;
    
}
.right-section{
    padding-right: 50px;
    padding-bottom: 15px;
}
.left-section{
    padding-left: 50px;
    padding-top:15px;
    font-size: 45px;
    font-weight: bold;
    color: white;
}
.link-section ul li{
    display: inline-block;
    padding: 18px 10px 0px 10px;
}
.link-section ul li a{
    text-decoration: none;
    color: aliceblue;
}
.link-section ul li a:hover{
    color: chartreuse;
}

/* ---------------------New arrival section ---------------------------------*/

.new-arrival{
    margin-top: 40px;
}
.new-arrival-cards img{
    height: 275px;
    width: 200px;
}
.new-arrival-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.text-new-arrival{
    font-size: 60px;
    margin-left: -20px;
    color: #445342;
    font-family: Lucida Calligraphy;
}
.body-content{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.new-book{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}

/* ---------------Special Offers Section -------------------*/

.special-offers{
    margin-top: 50px;
}
.special-offers-cards img{
    height: 275px;
    width: 200px;
    padding: 10px;
}
.special-offers-cards{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.text-special-offers{
    font-size: 60px;
    margin-left: -20px;
    color: #445342;
    font-family: Lucida Calligraphy;
}
.body-content{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.offers{
    flex: 1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7); 
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
}
.offer-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    margin-left: 5px;
}
.book-new-details{
    display: flex;
    justify-content: space-between;
}
.book-details, .detail1{
    font-size: 20px;
    line-height: 1.5;
    
}
.detail1{
    background-color: #6a6a6a;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    color: white;
}
.detail2{
    margin-right: 4px;
    padding: 10px;
    font-size: 30px;
    color: red;
    background-color: #b4b4b4;
    border-radius: 50px;
}

/* ---------------Promotionn section ------------*/

.promotion{
    margin-top: 50px;
}
.promotion-cards img{
    height: 275px;
    width: 200px;
}
.promotion-cards{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.text-promotion{
    font-size: 60px;
    margin-left: -20px;
    color: #445342;
    font-family: Lucida Calligraphy;
}
.body-content{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.promo{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.bookfair-text{
    font-weight: bold;
    line-height: 1.6;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.bookfair-text span{
    font-size: 40px;
    letter-spacing: 7px;
}
.sets{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    
}
.sets img{
    height: 100px;
    width: 75px;
}
.items-set1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}
.items-set2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}
.items-set3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item{
    display: flex;
}
.gift-text{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
}

.foot{
    margin-top: 30px;
    width:100%;
    height: 60px;
    background-color: #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
}