.outte-containeer{
    height: 100vh;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    display: flex;
    justify-content: center;
    
}
.inner-containeer{
    width: 60%;
}
.header-containeer{
    display: flex;
    justify-content: center;
}
hr {
    border: 1px solid black;
    height: 12px;
    background: black;
}
.page-title{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-family: "Poetsen One", sans-serif;
}
.page-title button{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.user-input-containeer{
    margin-bottom: 10px;
    padding: 10px 100px 10px 100px;
    width: 100%;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.customer-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.item2,.item4,.item6,.item8{
    grid-column-start: 2;
    grid-column-end: 4;
}
.lable-total-amount{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: white;
}

  