.header-class{
    padding-top: 2%;
}
.inner-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 48px;
    margin-bottom: 0px;
}